.NavSearchModel{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}
.NavSearchModel > div:nth-child(1){
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
.SearchModel{
    background-color: #2d3a63;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  .SearchModel > input{
    background-color: #1E2742;
    border: none;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    padding: 1vw;
    color: white;
    outline: none;
  }
  .SearchModel > img{
    cursor: pointer;
    margin: 5px;
  }
  .MainContent{
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  .MainContent > div:nth-child(1){
    width: 15vw;
    display: flex;
    flex-direction: column;
  }
  .calenderbox{
    width: 9vw;
    height: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #1E2742;
  }
  .calenderboxNone{
    width: 9vw;
    height: 9vw;
    border-radius: 5px;
    background-color: #13192f;
  }
  .MainContentCalender{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(7,1fr);
  }
  .calenderboxDate{
    color: rgba(255, 255, 255, 0.411);
    font-size: 20px;
    padding: 10px;
  }
  .JustForFUN{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  .JustForFUN > img{
    cursor: pointer;
  }
  .InputButton{
    width: 100%;
    border-radius: 5px;
    padding: 0.8vw 1.5vw;
    border: none;
    color: white;
    background-color: #725aff;
    margin-top: 40px;
    cursor: pointer;
  }
  .DrawerCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svb;
  }
  .DrawerCenter > div{
    width: 70%;
  }
  .InputTextFeild{
    color: white;
    font-size: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px 0;
    outline: none;
    margin-top: 20px;
  }
  .InputTextFeild::placeholder {
    color: #e6e6e6;
  }

  .EventNameBox{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    width: 80%;
    margin: 5%;
    padding: 2% 5%;
    background-color: red;
  }
  .datePicker *{
    text-decoration: none !important;
    border: 0 !important;
    padding: 0 !important;
    color: #fff !important;
    font-size: 18px !important;
    font-family: "Poppins" !important;
    line-height: 0 !important;
    padding-top: 5px;
}
  @media screen and (min-width: 0px) and (max-width: 600px) {
    .MainContent{
      justify-content: flex-start;
      margin-top: 10px;
    }
    .MainContent > div:nth-child(1){
      position: absolute;
    }
    .MainContentCalender{
      width: 100vw;
      margin-top: 25vw;
    }
    .calenderbox{
      width: 13vw;
      height: auto;
    }
    .NavSearchModel{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      text-align: center;
    }
    .NavSearchModel > div:nth-child(3){
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .NavSearchModel > div:nth-child(2){
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      justify-content: center;
      grid-row-end: 3;
    }
    .JustForFUN{
      margin-top: 10px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
    }
  }